:root {
    --tb50: #eff8fe;
    --tb100: #cee8fb;
    --tb300: #96cdf6;
    --tb500: #62b4f2;
    --tb700: #4680ac;
    --tb900: #294c66;
    --grey: #8E98A8;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    font-size: 16px;
}

body {
    background: linear-gradient(117deg, #E5F0FF 0%, #F2F6FB 100%);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#header {
    width: 100%;
    max-width: 1440px;
    padding-top: 16px;
    padding-left: 40px;

}

/* Hero / Main Content */
#hero {
    width: 100%;
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-grow: 2;

}

.left-column {
    width: 100%;
    max-width: 640px;
}

#hero-title {
    font-size: clamp(1.75rem, 5vw + 1rem, 3.5rem);
    font-weight: 700;
    line-height: 120%;
    color: var(--tb900);
    margin-bottom: 24px;
}

#hero-subtitle {
    font-size: clamp(1.125rem, 0.75vw + 1rem, 1.375rem);
    font-weight: 500;
    line-height: 140%;
    color: var(--tb900);
    margin-bottom: 40px;
}

.three-ways-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}

.three-ways {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: clamp(1rem, 0.8vw + 1rem, 1.5rem);
    color: var(--tb900);
}


/* CTA Input Form */
.search-form-tablet {
    display: none;
}

.search-form {
    position: relative;
    display: flex;
    gap: 14px;
}

.input-container {
    position: relative;
}

.search-input {
    padding: 18px 20px 18px 40px;
    font-size: 1rem;
    border: 1px solid var(--grey);
    border-radius: 6px;
    background: transparent;
}

.search-input::placeholder {
    color: var(--grey);
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    width: 22px;
}

.search-button {
    padding: 18px 24px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background: var(--tb500);
    color: var(--tb50);
    font-size: 1rem;
    font-weight: 700;
}

/* Right Side Phone Mockups */
.phone-mockups {
    height: 600px;
}

.phone-mockups-tablet {
    display: none;
}

/* Top Right Background Image */

.top-right-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}

/* Bottom Left Background Image */
.bottom-left-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -5;
}

.top-right-bg, .bottom-left-bg {
    overflow: hidden;
}

/* Bottom Stat Bar */
#bottom-bar {
    background: var(--tb700);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#bottom-bar-wrapper {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}

.stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-stat {
    font-size: clamp(2.5rem, 2.5vw + 1rem, 3rem);
    color: var(--tb50);
    font-weight: 700;
}

.bottom-stat {
    font-size: 1.375rem;
    color: var(--tb50);
    font-weight: 400;
}

/* Tablet / Mobile Stat Bar */
#bottom-bar-tablet {
    display: none;
}

/* Responsive Stuff */

/* Tablet Section */
@media screen and (max-width: 1025px)  {
    body {
        height: 100%;
        margin-bottom: 0;
    }

    /* Makes hero content column */
    #hero {
        padding-top: 54px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-bottom: 56px;

    }

    /* Makes left / top text column wider and centers items in it */
    .left-column {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 56px;
    }

    #hero-title {
        width: 85%;
    }

    #hero-subtitle {

    }

    .three-ways-container {
        justify-content: center;
    }

    .three-ways {
        font-weight: 600;
    }

    .three-ways {
        background: var(--tb700);
        padding: 12px 24px;
        border-radius: 4px;
        width: 280px;
        color: var(--tb50);
        gap: 12px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .three-way-icon {
        font-size: 24px;
        color: var(--tb50);
    }

    .search-form-tablet {
        display: flex;
    }

    .search-form {
        justify-content: center;
    }

    .search-input, .search-button {
        width: 320px;
    }

    /* Image Stuff - hides desktop image and shows tablet image */
    .phone-mockups-tablet {
        display: inline;
    }

    .phone-mockups {
        display: none;
    }

    .top-right-bg {
        width: 50%;
    }

    .bottom-left-bg {

    }

    /* Bottom Stat Bar */
    #bottom-bar {
        display: none;
    }

    #bottom-bar-tablet {
        display: flex;
        margin-bottom: 20px;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    #bottom-bar-wrapper-tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-content: stretch;
        width: 100%;
    }

    .stat-container {
        background: var(--tb700);
        border-radius: 8px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

/* Mobile */

@media screen and (max-width: 480px)  {
    #header {
        padding-left: 20px;
        padding-right: 20px;
    }
    #hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    #hero-title {
        width: 100%;
        font-size: 28px;
    }

    .three-ways-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .three-ways {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;

    }

    .three-way-icon {
        height: 24px;
    }

    .left-column {
        margin-bottom: 8px;
    }

    .search-form {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-container {
        width: 100%;
    }

    .search-input, .search-button {
        width: 100%;
    }

    .phone-mockups-tablet {
        display: none;
    }

    .phone-mockups {
        display: inline;
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    #bottom-bar-tablet {
        padding-right: 20px;
        padding-left: 20px;
    }

    #bottom-bar-wrapper-tablet {
        display: flex;
        flex-direction: column;
    }

    .top-right-bg {
        width: 70%;
    }

    .bottom-left-bg {
        overflow: hidden !important;
    }
}